{
    "root": true,
    "parser": "@babel/eslint-parser",
    "extends": [
      "@cyberskunk",
      "@cyberskunk/eslint-config/node",
      "@cyberskunk/eslint-config/es6",
      "prettier"
    ],
    "plugins": [ 
      "prettier"
    ],
    "rules": {
      "no-nested-ternary": "off",
      "import/no-commonjs": "off",
      "linebreak-style": "off",
      "prettier/prettier": [
        "error", 
        {
          "printWidth": 100,
          "semi": false,
          "singleQuote": true,
          "trailingComma": "all",
          "bracketSpacing": false
        }
      ],
      "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": true,
          "optionalDependencies": false,
          "peerDependencies": false
        }
      ]
    },
    "overrides": [
      {
        "files": ["src/__mocks__/*.js", "test/_setup.js"],
        "env": {
          "jest": true
        }
      },
      {
        "files": "test/*.test.js",
        "env": {
          "jest": true
        },
        "globals": {"createSVG": false}
      }
    ]
  }